/* estilo basico */
body {
    font-family: Arial, sans-serif; /*fonte do site*/
    margin: 0;
    padding: 0;
    background-color: rgb(2, 27, 26);
    color: #000000;
    line-height: 1.6; /*espaco entre as linhas*/
    color: rgb(255, 255, 255)
}

/* cabeçalho e navegacao */
header {
    background-color:  rgb(44, 194, 149);
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
    position: sticky; /* fixa o menu no topo  */
    top: 0;
    z-index: 1000; /*usado para ficar acima dos outros elementos*/
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /*usado para alinhamento horizontal*/
    justify-content: center; /*centralizar os itens do menu*/
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none; /*remove o sublinhado*/
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #fadf65;
    color: #000000;
}

/* Foco da pagina */
main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: rgb(2, 27, 26);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    padding: 40px 0;
    border-bottom: 1px dashed rgb(44, 194, 149); /*dashed = tracejado*/
}

section:last-child {
    border-bottom: none; 
}

h2 {
    color: #fadf65;
    text-align: center;
    margin-bottom: 20px;
}

/* Especialidades */
.projeto {
    background-color: rgb(2, 27, 26);
    border: 1px solid rgb(44, 194, 149);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.projeto h3 {
    color: #fadf65;
    margin-top: 0;
}

.projeto a {
    display: inline-block;
    background-color: #fadf65;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.projeto a:hover {
    background-color: #ac9945;
}

/* formulario */
form label {
    display: block; /* faz a tag ocupar a linha toda*/
    margin-bottom: 5px;
    font-weight: bold;
}

/*campos de entrada*/
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(44, 194, 149);
    border-radius: 0px;
    box-sizing: border-box; /* Garante que o padding nao expanda o elemento alem da largura especificada */
    background-color: rgb(2, 27, 26);
    color: white
}

form button {
    background-color: #fadf65;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

form button:hover {
    background-color: #ac9945;
}
